@mixin gridGap($val) {
	gap: $val;
	grid-gap: $val;
}

@mixin hGap($val) {
	@supports not (-webkit-touch-callout: none) {
		gap: $val;
	}

	@supports (-webkit-touch-callout: none) {
		& > *:not(:last-child) {
			margin-right: $val;
		}
	}
}

@mixin vGap($val) {
	@supports not (-webkit-touch-callout: none) {
		gap: $val;
	}

	@supports (-webkit-touch-callout: none) {
		& > *:not(:last-child) {
			margin-bottom: $val;
		}
	}
}
