---
import Layout from '@layouts/Layout';
import Hero from '@components/Hero';
import CheckMyCat from '@components/CheckMyCat';
import Symptoms from '@components/Symptoms';
import Diagnosed from '@components/Diagnosed';
import Articles from '@components/Articles';
import References from '@components/References';
---

<Layout title='Cats Landing'>
	<main>
		<Hero />
		<CheckMyCat />
		<Symptoms />
		<Diagnosed />
		<Articles />
		<References />
	</main>
</Layout>
