---
import { sitePath } from '@scripts/utils';
---

<section class='section section-diagnosed'>
	<div class='container no-mobile-padding'>
		<div class='landing-card'>
			<div class='content'>
				<h2 class='title'>My cat has already been diagnosed with arthritis</h2>
				<p>
					If your cat has already been diagnosed with arthritis then continue to
					monitor their progress. Pain management is advancing all the time and
					your vet will be able to recommend the best course of action
					available.
				</p>
			</div>
			<div class='media'>
				<div class='visible-desktop'>
					<img src={sitePath('/assets/images/cat_gray.png')} alt='' />
				</div>
				<div class='visible-tablet visible-mobile'>
					<img src={sitePath('/assets/images/cat_gray_tablet.png')} alt='' />
				</div>
			</div>
		</div>
	</div>
</section>
