<section class='section section-references'>
	<div class='container'>
		<div class='landing-card'>
			<p>
				1. E.M. Hardie, S.C Roe, F.R Martin. Radiographic evidence of
				degenerative joint disease in geriatric cats: 100 cases (1994-1997). J
				Am Vet Med Assoc, 220 (5) (2002)
			</p>
			<p>
				2. Slingerland LI et al, Cross-sectional study of the prevalence and
				clinical features of osteoarthritis in 100 cats, Vet J. 2011
				Mar;187(3):304-9
			</p>
		</div>
	</div>
</section>
