<section class='section section-symptoms'>
	<div class='container no-mobile-padding'>
		<div class='wrapper'>
			<div class='content'>
				<h2 class='title'>What are the symptoms of arthritis pain in cats?</h2>
				<p>
					Many cat owners aren't aware that arthritis pain could be a problem in
					their cat. The symptoms can be quite subtle at first or attributed to
					old age and can be caused by other factors such as diet or
					environment. If you haven't already had the condition diagnosed by
					your vet, here are the things you should be looking out for:
				</p>
			</div>
			<div class='list'>
				<ul>
					<li>
						<div>Trouble walking or running</div>
					</li>
					<li>
						<div>Moving slower than normal</div>
					</li>
					<li>
						<div>
							Appearing stiff when first getting up Appearing stiff when first
							getting up
						</div>
					</li>
					<li>
						<div>Reluctance to play</div>
					</li>
					<li>
						<div>Restless at night</div>
					</li>
					<li>
						<div>Difficulty with stairs or jumping</div>
					</li>
					<li>
						<div>Repeatedly licking joints</div>
					</li>
					<li>
						<div>Quietness or grumpiness</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
