---
export interface Props {
	title: string;
}

const { title } = Astro.props;

import '@styles/main.scss';
import { sitePath } from '@scripts/utils';
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' href={sitePath('/favicon.ico')} />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
		
		<link
			rel='stylesheet'
			type='text/css'
			href='https://use.typekit.net/nfu5tzo.css'
			media='all'
			async='async'
		/>
		<link
			rel='stylesheet'
			type='text/css'
			href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css'
			media='all'
		/>
		<script
			type='text/javascript'
			src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'
			defer='defer'
			async='async'
		></script>
		
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link
			href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:wght@700&display=swap'
			rel='stylesheet'
		/>
	</head>
	<body>
		
		<slot />
		
		<script src='../scripts/main.js'></script>
	</body>
</html>
